.geek-university-item
    margin-top .56rem
    width 4.306667rem
    font-size .32rem
    .geek-university-item-img
        border-radius .08rem
        background-color #888888
        height 2.4rem
    .geek-university-item-title
        margin-top .32rem
        font-size .426667rem
    .geek-university-item-desc
        margin-top .24rem
        color #888888
    .geek-university-item-teacher
        color #888888
        margin-top .24rem
        display flex
    .geek-university-item-time
        margin-top .373333rem
        color #fa8919
.geek-university-item:nth-child(2n+1)
    margin-right .453333rem
