.courseDirectionItem
    width 2.93rem
    height 1.29rem
    background-color #fbf5ee
    display flex
    justify-content: center
    align-items: center
    font-size: 0.37rem
    color: #ae7145
    margin-bottom 0.19rem
    &.evenNumberItem
        color: black
        background-color: #f6f7fb