* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#score {
  width: 100px;
  height: 50px;
  border: 1px solid #000;
  position: relative;
  top: -225px;
  right: -200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
