.studyPathItem
    margin-right 0.32rem
    height 1.39rem
    width 3.64rem
    background-color #f6f7fb
    border-radius: 7px
    padding-left 0.28rem
    padding-right 0.4rem
    padding-top 0.45rem
    padding-bottom 0.41rem
    position relative
    display: inline-block
    .description
        height 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        .type
            width 1.89rem
            font-size: 0.33rem
        .totalLessons
            color: grey
            font-size: 0.2rem
    .img
        position absolute
        right 0.4rem
        top 0.45rem
        bottom 0.43rem
        width 1.35rem
        img 
            width 100%
            height 100%