.myButton
    display flex
    justify-content center
    align-items center
    position absolute
    right 0
    bottom 0
    padding 0 .426667rem
    line-height .746667rem
    border none 
    height 0.69rem
    background #f7f7f7
    color black
    font-weight 500
    font-size 0.37rem
    border-radius 0.35rem
    &.clickable
        background #fbf5ee
        color #fa8919