.courseDirection
    margin-top 1.2rem
    // outline: 1px solid blue
    .courseDirectionTop
        display: flex
        justify-content: space-between
        align-items: center
        .left
            color: black
            font-size: 0.48rem
            line-height 0.48rem
        .right
            color: #9f9f9f
            font-size: 0.35rem
    .courseDirectionItemWrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top 0.72rem
        // outline 1px solid pink