.baseUIHeader
    position: fixed
    left 0
    right 0
    top 0
    height 44px
    background-color #fff
    padding 0 0.533333rem
    display flex
    justify-content: space-between
    align-items: center
    .icon
        font-size 28px
        color #999999
        &.no-goback
            opacity 0
    .title
        text-align center
        font-size 18px
        position absolute
        left 50%
        transform: translateX(-50%)
    .rightTitle
        color #888888
        font-size .426667rem
        &.no-right-title
            display none