.baseUIHeader
    position: fixed
    left 0
    right 0
    top 0
    height 44px
    background-color #fff
    padding 0 0.533333rem
    display flex
    justify-content: space-between
    align-items: center
    .leftTitle,.rightTitle
        font-size 0.53rem
        a
            text-decoration none
            color #999999
    .nothing-left,.nothing-right
        opacity 0
    .icon
        font-size 28px
        color #999999
    .middleTitle
        text-align center
        font-size 0.53rem
        position absolute
        left 50%
        transform: translateX(-50%)
    .middleTitle.no-middle-title
        opacity 0
    // .rightTitle
    //     color #888888
    //     font-size .426667rem
    //     &.no-right-title
    //         display none