.study-item
    outline 1px solid pink
    margin-bottom 0.2rem
    .study-item-title
        font-size .48rem
    .study-item-teacher-name,.study-item-teacher-desc
        font-size .35rem
        color #767676
        background-color #f1f1f1