.footer
    position: fixed
    left 0
    right 0
    bottom 0
    height 50px
    display flex
    background-color: ivory
    a
        flex: 1
        text-decoration: none
        color grey
        display: block
        display: flex
        justify-content: center
        align-items: center
