.practiceCamp-item
    display flex
    .practiceCamp-item-img
        height 2.893333rem
        width 2.186667rem
        border-radius 3px
        overflow hidden
    .practiceCamp-item-detail
        flex 1
        overflow hidden
        margin-left .426667rem
        .practiceCamp-item-name
            font-size .48rem
        .practiceCamp-item-teacher
            height .466667rem
            margin-top .2rem
            color #767676
            font-size .35rem
            display flex
            .practiceCamp-item-teacher-name 
                vertical-align top
                padding 0 5px
                display inline-block
                background-color #f1f1f1
                border-radius 5px
            .practiceCamp-item-teacher-desc
                padding 0 5px
                display inline-block
                background-color #f1f1f1
                flex 1
                margin-left .16rem
                border-radius 5px
                overflow hidden
                white-space nowrap
                text-overflow ellipsis
        .practiceCamp-item-time
            margin-top .24rem
            font-size .306667rem
            color #aeaeae
        .price-and-join
            margin-top .193334rem
            display flex
            align-items center
            .practiceCamp-new-first-indent
                color #fa8919
                border: 0.2px solid #fa8919
                font-size .18rem
            .practiceCamp-item-price
                font-size .373333rem
                color #fa8919
                font-weight bolder
            .practiceCamp-item-oldprice
                flex 1
                font-size .24rem
                color #b2b2b2
                text-decoration line-through
                margin-left .213333rem
            button 
                height .746667rem
                font-size .4rem
                line-height .746667rem
                padding 0 .426667rem
                border-radius 100px
                border none 
                background-color #fbf5ee
                color #fa8919
                &.hasBeenPurchased
                    color black
                    background-color: #f7f7f7
.practiceCamp-item + .practiceCamp-item
    margin-top .746667rem
            