.rechargeRecord
    .rechargeRecord-header
            background-color #fff
            padding 0 0.533333rem
            height 44px
            position fixed
            top 0
            left 0
            right 0
            display flex
            line-height 44px
            margin 0 
            justify-content: space-between
            .icon
                font-size 28px
                color #999999
            .rechargeRecord-title
                text-align center
                font-size 18px
                position absolute
                left 50%
                transform: translateX(-50%)
            .exchange
                opacity 0
                color #888888
                font-size .426667rem
    .rechargeRecord-item-wrapper
        padding 0 0.44rem