.practiceCamp-wrapper 
    height 100px
    padding 0 .4rem
    .practiceCamp-swiper-wrapper
        margin-top .48rem
        height 3.2rem
    .practiceCamp-title
        margin-bottom .666667rem
        margin-top .853333rem
        display flex
        .practiceCamp-main-title
            flex: 1
            font-size .506667rem
        .go-my-classroom
            text-align right
            color #888888
            font-size .4rem