.studyPath
    white-space: nowrap
    background-color: white
    margin-top 0.81rem
    position relative
    .top
        display: flex
        align-items: center
        .left
            font-size: 0.51rem
        .right
            color: grey
            font-size: 0.36rem
            position: absolute
            right 0
    .studyPathItemWrapper
        margin-top 0.72rem
        // width 200px
        overflow hidden
        overflow-x: scroll
        &::-webkit-scrollbar
            display: none
