.commodityItem
    background-color: ivory
    width 100%
    height 50px
    box-shadow: 0px 0 5px grey;
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom 10px
    .name
        margin-left 10px
    .button,.isPurchased
        margin-right 10px
    .isPurchased
        button
            background-color: red