.discover
    padding-bottom 1.333333rem
    .discover-input-search
        padding 0 .466667rem
        margin-top .4rem
        margin-bottom .333333rem
        input 
            box-sizing border-box
            width 100%
            border-radius 1.333333rem
            border none 
            background-color #f6f7fb
            height .933333rem
            color #b2b2b2
            padding 0 .266667rem
    .slider-container
        overflow hidden
        height 100%
        .swiper-wrapper
            width 100%
            box-sizing border-box
            .swiper-slide
                img
                    border-radius .106667rem
                    overflow hidden
                    padding 0 .466667rem
                    box-sizing border-box
                    width 100%
    .discover-content 
        padding 0 .466667rem
        .maitaozheshuo
            margin-top .4rem
            border-radius 6px
            box-shadow 0 0 8px #b2b2b2
            padding 0 .426667rem
            padding-top .346667rem
            .maitaozheshuo-title
                display flex
                align-items center
                .maitaozheshuo-img
                    background-color #b2b2b2
                    border-radius 100%
                    height .8rem
                    width .8rem
                .maitaozheshuo-name
                    flex 1
                    font-size .48rem
                    margin-left .4rem
                .icon
                    color #888888
            .maitaozheshuo-article
                padding .4rem 0
                font-size .4rem
                .icon
                    font-size .48rem
                    color #888888
                    margin-right .133333rem
        .geek-university
            margin-top 1.026667rem
            padding-bottom .88rem
            border-bottom 0.5px #e8e8e8 solid
            .geek-university-header
                margin-bottom .266667rem
                display flex
                justify-content space-between
                align-items center
                span 
                    height .506667rem
                    border-radius 10px
                    width 3px
                    background-color #ffd0a9
                .geek-university-title 
                    display -webkit-box
                    -webkit-box-orient vertical
                    -webkit-line-clamp 3
                    overflow: hidden;
                    padding-left .306667rem
                    flex 1             
                    font-size .506667rem
                    display inline
                    vertical-align top
                .view-more
                    font-size .373333rem
                    color #888888
            .geek-university-wrapper
                display flex
                flex-wrap wrap
            .change-for-other
                margin-top .906667rem
                margin-bottom .466667rem
                color #fa8919
                display flex
                justify-content center
                align-items center

                
                    
             