.study
    .study-time
        margin-top .4rem
        padding 0 .426667rem
        display inline-block
        border-radius 0 50px 50px 0
        background-color #fbf6ef
        font-size .4rem
        height .826667rem
        line-height .826667rem
        strong 
            color #fa8919
    .study-record
        display flex
        margin-top .826667rem
        margin-bottom .466667rem
        .study-record-item
            flex 1
            text-align center
            div:nth-child(1)
                font-size .56rem
            div:nth-child(2)
                font-size .346667rem
                color #888888
                margin-top .226667rem
    .study-content-wrapper
        padding 0 .533333rem
        background-color #fff
        border-radius 8px 8px 0 0
        .no-study-record
            margin-top 2rem
            margin-bottom .426667rem
            text-align center
            font-size .4rem
            color #b2b2b2
        .subscribe-button
            display block
            margin 0 auto
            border none 
            font-size .426667rem
            background-color #fa8919
            padding 0 1.466667rem
            color white
            height 1.053333rem
            border-radius 50px