*
    margin 0
    padding 0
.main1
    display: flex
    justify-content: center
    align-items: center
    background-color: #5D6146
    color: white
    height 45px
    .cont
        width 1000px
        display: flex
        .left
            width 150px
        .right
            flex: 1
            .son1 
                text-decoration: none
                color: white
                float left
                line-height: 45px
            .son2
                float: right 
                #search
                    height 26px
                    margin-top: 7px

.main2
    display: flex
    justify-content: center
    background-color: #e1e0c8
    .left
        width 670px
        margin-right 20px
        .sons
            background-color: #f0efe2
            margin-top 20px
            border: 1px solid #C8C7BC
            .cont
                margin-left 20px
                margin-right 20px
                // margin-top 20px
                .title
                    height 30px
                    .name
                        float left
                        font-size: 20px
                        color: blue
                        line-height: 30px
                    .yizhu
                        float right
                        font-size: 14px
                        color: grey
                        line-height 30px
                .source
                    // margin-left: -560px
                    text-align: justify
                    font-size: 10px
                    color: grey
                    line-height: 200%
                    margin-top: 10px
                .content
                    text-align: justify
            .tool
                display: flex
                justify-content: space-between
                margin-left 20px
                margin-right 20px
                border-bottom: 1px solid grey
                .shoucang
                    color: green
                    // margin-left 30px
                .wanshan
                    color: green
                    // margin-right 30px
            .tag
                margin-left 20px
                margin-right 20px
                padding-top 15px
                padding-bottom 15px
                color: grey
                font-size: 10px
                text-align: justify
    .right
        background-color: #f0efe2
        width 300px
        margin-top 20px
        border: 1px solid #C8C7BC
        .title
            margin: 20px
        a
            text-decoration: none
            display: inline-block
            width 70px
            margin-top: 15px;
            margin-left: 20px;
            text-align: center
            border: 1px solid #DAD9D1;




