.recharge-item
    border-radius 5px
    width 2.8rem
    height 1.706667rem
    background-color #f6f7fb
    text-align center
    margin-right .32rem
    margin-bottom .453333rem
    div
        line-height 1.706667rem
.recharge-item:nth-child(3n+0)
    margin-right 0
.highlight
    color #fff
    background-color #fa8919