.allCourses
    // outline: 1px solid blue
    margin-top 1.17rem
    .allCoursesTop
        height 0.51rem
        color black
        line-height 0.51rem
    .allCoursesNavBar
        margin-top 0.67rem
        font-size: 0.4rem
        line-height 0.4rem
        display: flex
        justify-content: space-between
    .allCoursesItemWrapper
        margin-top 0.61rem
        // .practiceCamp-wrapper
        //     height 100px
        //     padding 0 .4rem
        //     .practiceCamp-swiper-wrapper
        //         margin-top .48rem
        //         height 3.2rem
        //     .practiceCamp-title
        //         margin-bottom .666667rem
        //         margin-top .853333rem
        //         display flex
        //         .practiceCamp-main-title
        //             flex: 1
        //             font-size .506667rem
        //         .go-my-classroom
        //             text-align right
        //             color #888888
        //             font-size .4rem

