.allCourses
    // outline: 1px solid blue
    margin-top 1.17rem
    .allCoursesTop
        height 0.51rem
        color black
        line-height 0.51rem
    .allCoursesNavBar
        margin-top 0.67rem
        font-size: 0.4rem
        line-height 0.4rem
        display: flex
        justify-content: space-between
    .allCoursesItemWrapper
        margin-top 0.61rem

