.account-wrapper
    .account-top
        border-bottom 1px solid #e8e8e8
        .account-header
            background-color #fff
            padding 0 0.533333rem
            height 44px
            position fixed
            top 0
            left 0
            right 0
            display flex
            line-height 44px
            margin 0 
            justify-content: space-between
            .icon
                font-size 28px
                color #999999
            .account-title
                text-align center
                font-size 18px
                position absolute
                left 50%
                transform: translateX(-50%)
            .exchange
                color #888888
                font-size .426667rem
        .account-balance-wrapper
            text-align center
            .account-balance
                margin-top 0.2rem
                font-size .8rem
            .view-detail
                margin-top .23rem
                font-size .373333rem
                color #888888
        .account-img
            padding 0 .48rem
            margin-top .533333rem
            margin-bottom .626667rem
            img 
                width 100%
    .recharge-wrapper
        padding 0 .48rem
        margin-top 0.5rem
        .recharge-title
            margin-bottom .8rem
            .main-title
                font-size .48rem
            .supplement-title
                font-size .333333rem
                color #888888
        .recharge-item-wrapper
            display flex
            flex-wrap wrap
        button 
            width 100%
            margin .48rem 0
            background-color #fa8919
            color #fff
            border none
            border-radius 8px
            height 1.266667rem
            font-size .44rem

            
